
html{
    scroll-behavior: smooth;
    background-color: #151515;
}





.welcome_panel{
    background-color: #151515;
    height: 60vh;
    position: relative;
    z-index: 1;
}


#background_video { 
    
    /* trying paralax */
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    opacity: 0;


    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up positioning */
    top: 0;
    left: 0;
}


/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.title_content{
    height: 50%;
    position: relative;
    margin-top: 40vh;
    left: 0;
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Playfair Display', serif;
    color: #b4a5a5;
    text-align: center;
}

#title{
    font-size: 90px;
    /* margin-bottom: -10px; */
    
}

#noun_content{
    font-family: 'Martel Sans', sans-serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-size: 22px;
}

.title_content a{
    color: #b4a5a5;
}

.title_content a:hover{
    color: #3c415c;
}

.scroll_down{
    font-family: 'Martel Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 30vh;
    
}
.scroll_down a{
    color: inherit;
    text-decoration: none;
}

.arrow-down{
    margin-top: -1.5vh;
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    border-color: white;
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    /* -webkit-animation: 3s arrow infinite ease; */
    animation: 2s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 55px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100% {
        top: 55px;
    }
    50%{
        top: 80px;
    }
}

.body_content{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #151515;
    height: auto;
    
    z-index: 1;
}

.body_title{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #b4a5a5;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.body_content p{
    position: relative;
    text-align:center; 
}

.card-body{
    text-align:center;
    color: #151515;
}
.card-body h5{
    font-family: 'Playfair Display', serif;
    font-weight:bolder;
    font-size: 40px;
    
}

.card-body p{
    font-family: 'Martel Sans', sans-serif;
    font-size: 17px;
    
}

.posts_flexbox{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

 .posts_flexbox .card {
    margin: 0 30px 60px 30px;
    transition: transform .05s;
    background-color: #b4a5a5;
    
} 

.posts_flexbox a{
    text-decoration: none;
    color: inherit;
}


.posts_flexbox .card:hover {
    transform: scale(1.1);
    background-color: #3c415c;
}






.footer_panel{
    position: relative;
    height: 150px;
    left: 0;
    right: 0;
    background-color: #3c415c;
    z-index: 1;
    text-align:center; 
    
}

.footer_panel p{
    font-family: 'Martel Sans', sans-serif;
    color:#b4a5a5;
    padding-top: 2.5%;
}

.footer_panel img{
    position: relative;
    top: 25%;
    height: 33px;
    width: 33px;
    padding: 5px;
}








/* ---------iPhone X & Galaxy S9---------- */

@media (max-width: 380px){ 
        #background_video { 
    
            /* trying paralax */
            background-attachment: fixed;
            background-repeat: no-repeat;
            position: fixed;
            z-index: -100;
            opacity: 0;
        
        
            /* Set rules to fill background */
            min-width: 100%;
            height: 100vh;
            
        
            /* Set up positioning */
            top: 0;
            left: -80vh;
        }

        


        .title_content{
            margin-top: 40vh;
        }
        #title{
            font-size: 50px;
            margin-bottom: -20px;
        }
        
        #noun_content{
            margin-top: 30px;
            font-family: 'Martel Sans', sans-serif;
            font-size: 17px;
        }

        .scroll_down{
            font-family: 'Martel Sans', sans-serif;
            font-size: 15px;
            text-align: center;
            margin-top: 24vh;
            
        }
        
        .scroll_down a{
            color: inherit;
            text-decoration: none;
        }

        .arrow-down{
            margin-top: -1.5vh;
            position: relative;
            width: 100%;
            /* margin: 0 auto; */
            text-align: center;
            border-color: #b4a5a5;
        }
        
        .arrow-down::after{
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-right: 2px solid;
            border-bottom: 2px solid;
            /* -webkit-transform: rotate(45deg); */
            transform: rotate(45deg);
            /* -webkit-animation: 3s arrow infinite ease; */
            animation: 2s arrow infinite ease;
            
        }
        

        .body_content p{
            font-size: 15px;
        }

        .card-body h5{
            font-size: 30px;
        }
        
        .card-body p{
            font-family: 'Martel Sans', sans-serif;
            font-size: 14px;
        }

        .footer_panel img{
            height: 30px;
            width: 30px;
            padding: 5px;
        }

        .footer_panel p{
            font-family: 'Martel Sans', sans-serif;
            color:#b4a5a5;
            padding-top: 13%;
            font-size: 15px;
        }
    }




