
html{
    scroll-behavior: smooth;
}


body {
    background-color: black;
    margin: 0;
}



.welcome_panel{
    height: 60vh;
    position: relative;
}


#background_video { 
    
    /* trying paralax */
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    opacity: 0;


    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up positioning */
    top: 0;
    left: 0;
}


/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.title_content{
    height: 50%;
    position: relative;
    margin-top: 40vh;
    left: 0;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    text-align: center;
}

#title{
    font-size: 90px;
    margin-bottom: -20px;
}

#noun_content{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

.title_content a{
    color: inherit;
}
.arrow-down{
    margin-top: 30vh;
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    border-color: white;
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    /* -webkit-animation: 3s arrow infinite ease; */
    animation: 2s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100% {
        top: 40px;
    }
    50%{
        top: 80px;
    }
}

.body_content{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #DDDDDD;
    height: auto;
    min-height: 80vh;
    z-index: 1;
    display: table;
}

.body_content p{
    position: relative;
    text-align:center; 
    vertical-align: middle;
     display: table-cell;   
}


.footer_panel{
    position: relative;
    height: 150px;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 1;
    text-align:center; 
    
}

.footer_panel p{
    color: white;
    padding-top: 25px;
}

.footer_panel img{
    position: relative;
    top: 25%;
    height: 30px;
    width: 30px;
    padding: 5px;
}







/* ---------iPhone X & Galaxy S9---------- */

@media (max-width: 380px){ 
        #background_video { 
    
            /* trying paralax */
            background-attachment: fixed;
            background-repeat: no-repeat;
            position: fixed;
            z-index: -100;
            opacity: 0;
        
        
            /* Set rules to fill background */
            min-width: 100%;
            height: 100vh;
            
        
            /* Set up positioning */
            top: 0;
            left: -80vh;
        }


        .title_content{
            margin-top: 40vh;
        }
        #title{
            font-size: 50px;
            margin-bottom: -20px;
        }
        
        #noun_content{
            margin-top: 30px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 17px;
        }
        
        .title_content a{
            color: inherit;
        }
        .arrow-down{
            margin-top: 20vh;
            position: relative;
            width: 100%;
            /* margin: 0 auto; */
            text-align: center;
            border-color: white;
        }
        
        .arrow-down::after{
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-right: 2px solid;
            border-bottom: 2px solid;
            /* -webkit-transform: rotate(45deg); */
            transform: rotate(45deg);
            /* -webkit-animation: 3s arrow infinite ease; */
            animation: 2s arrow infinite ease;
            
        }
        

        .body_content p{
            font-size: 15px;
        }
    }




