
html{
    scroll-behavior: smooth;
}


body {
    background-color: black;
    margin: 0;
}



.welcome_panel{
    height: 100%;
    position: relative;
}


#background_video { 
    
    /* trying paralax */
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    opacity: 0;


    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up positioning */
    top: 0;
    left: 0;
}


/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.title_content{
    height: 50%;
    position: relative;
    margin-top: 30vh;
    left: 0;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    text-align: center;
}

#title{
    font-size: 120px;
    margin-bottom: -20px;
}

#noun_content{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.title_content a{
    color: inherit;
}
.arrow-down{
    margin-top: 30vh;
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    border-color: white;
}

.arrow-down::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    /* -webkit-animation: 3s arrow infinite ease; */
    animation: 2s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 50px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100% {
        top: 40px;
    }
    50%{
        top: 80px;
    }
}

.body_content{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: #A9A9A9;
    height: auto;
    min-height: 70vh;
    z-index: 1;
}