body{
    font-family: 'Martel Sans', sans-serif;
}




#background_img{
    position: fixed;
    /* Set rules to fill background */
    min-width: 100%;
    min-height: 100%;

    /* Set up positioning */
    top: 0;
    left: 0;

    z-index: -100;
}

.back_to_home{
    margin-left: 5%;
    padding-top: 2%;
}

.back_to_home a{
    font-family: 'Inconsolata', monospace;
    color: white;
    text-decoration: none;
}

.back_to_home a:hover{
    color: gray;
}

.post_background{
    background-color: #010100;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

#tournament_header{
    font-family: 'Playfair Display', serif;
    padding-top: 3%;
    text-align: center;
    color: white;
    padding-bottom: 3%;
    font-size: 60px;
}

#total_earnings{
    margin-top: -40px;
    text-align:center;
    color: white;
    padding-bottom: 50px;
}



.posts_flexbox{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

#card_1,#card_2,#card_3, #card_6, #card_12{
    background-color: #20d44d;
    /* background-image: linear-gradient(to bottom, #ce210a, #F33C04,  #FE650D, #FFC11F); */
}

#card_8, #card_9, #card_10{
    /* background-image: linear-gradient(to bottom, #A9EEDF, #092BD2,#093669); */
    background-color: rgb(59, 59, 255);
}
#card_4, #card_11{
    background-color:  #f7cc40;
    /* background-image: linear-gradient(to bottom, #EEA9B8,#C158FD,#B600F6, #670D43); */

}
#card_5, #card_7{
    background-color: rgb(255, 38, 38);
    /* background-image: linear-gradient(to bottom, #A0BED1, #6C856C, #2B2B40); */
}



.top_content{
    position: relative;
    background-color: #141414;
}

.top_content img{
    opacity: 0.2;
}

#card_placement{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* to center */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

.posts_flexbox div{
    padding: 1.5%;
}

.posts_flexbox .card-body{
    color: black;
}

/* #card_4 h1{
    color: #5DADE2;
}

#card_1 h1, #card_2 h1, #card_3 h1, #card_6 h1{
    color: #33FF99;
}

#card_5 h1, #card_7 h1{
    color: #FF3333;
} */

.card h1{
    color: white;
    text-shadow: #000 0px 0px 20px;
}

.tournament_total_kd{
    color: white;
    text-align:center;
    padding-bottom: 5%;
}
.tournament_total_kd p{
    font-size: 40px;
    color: #FF3333;
}


.posts_flexbox .card{
    width: 18rem;
}

.posts_flexbox #tournament_type{
    position:absolute;
    color: white;
    font-style: italic;
    top: 68%;
    left: 42%;
    /* font-weight: bold; */
    text-shadow: #000 0px 0px 30px;
}


@media (max-width: 414px){ 
    #tournament_header{
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 40px;
    }

    .posts_flexbox div{
        margin-bottom: 7%;
    }

    #total_earnings{
        margin-top: -20px;
    
    }

    .card{
        width: 17rem;
    }

    .post_background{
        margin-left: 4%;
        margin-right: 4%;
    }

    .posts_flexbox .card-body{
        margin-bottom: 0%;
    }

    .posts_flexbox .top_content{
        margin-bottom: 0%;
    }
    .posts_flexbox .card{
        width: 13rem;
    }

    .tournament_total_kd p{
        font-size: 30px;
    }
}