
html{
    scroll-behavior: smooth;
    
}


body{
    background-color: #010812;
    font-family: 'Inconsolata', monospace;
}

.post_background{
    background-color: white;
    opacity: 70%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.post_header{
    padding-top: 5vh;
    color: black;
    text-align: center;
}

.post_header p{
    font-style: italic;
    font-size: 18px;
}

.post_content {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    text-align: center;
}

.post_content img{
    width: 50%;
}






















